<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
	<PublishDir>..\..\..\IDS4AdminPublish\STS\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <SiteUrlToLaunchAfterPublish />
	<TargetFramework>net5.0</TargetFramework>
	<ProjectGuid>42727141-4827-4b61-900d-eae0b4590108</ProjectGuid>
	<SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>